# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# IDE
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# Advent of Code inputs
**/input.txt